body {
  /* background-color: indianred; */
background-image: url("https://bit.ly/2SyTqmQ");
background-repeat: no-repeat;
background-size: cover;
}
h2 {
  color: white;
  font-family: 'Patrick Hand', cursive;
  font-size: 50px;
}
.jumbotron {
  background-color: darkgray;
  width: 70%;
  margin-top: 50px;
  margin-left: 100px;
}
/* .row {
  margin-left: 100px;
}
 */
